@use "./global.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 0.5rem;
      padding: 1.75rem;
      gap: 1.5rem;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background: #fff;
      max-width: 400px;
      margin-block: auto;

      .title {
        font-size: 2rem;
        font-weight: bold;
        color: #222;
      }

      .description {
        font-size: 1rem;
        color: #444;
        line-height: 1.5;
      }

      .qr-code-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        .scan-code {
          font-size: 0.8rem;
          color: #666;
        }
      }
    }
  }

  footer {
    margin-top: auto;
    width: 100dvw;
    padding: 1rem 15dvw;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;

    .footer-content {
      display: flex;
      gap: 1rem;
      align-items: center;

      .copyright {
        font-size: 0.8rem;
        color: #666;
      }

      .socials {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        a {
          display: flex;
          align-items: center;
        }
      }
    }

    .links {
      display: flex;
      gap: 1rem;

      a {
        font-size: 0.8rem;
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
