@use "./global.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect-button {
  background: rebeccapurple;
}
